﻿body {
  font-family: Arial, Helvetica, sans-serif;background-color: #FFF;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}


.header {
  grid-area: header; background-color: #F00;  text-align: center; }
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
} 
.left,middle,right {
  padding: 10px;
  height: 300px;
}

.middle {
  grid-area: middle;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #F00;
  padding: 10px;
  text-align: center;
}
.th,td{   border:5px  solid  red;
    
  }
 
.table{ border-collapse:collapse;width:100%;text-align:center;} 


 

h1 {
  color: #ffc0cb ;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}
 

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
}
 

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}
 

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}
 

p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
}
      

.welcome {
  background-color: #DBE9EE;
  padding: 40px;
  text-align: center;
  width: 100%;
}      
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
}
.header22 {
  background-color: #40E0D0;
  color: #ffffff;
  padding: 15px;
  text-align:center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #008080;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align:center;
}

.menu li:hover {
  background-color: #40E0D0;
}

.aside {
  background-color: #40E0D0;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #40E0D0;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
